.widgetContainer {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px;
}
.crossContainer {
	margin: 0px auto;
}
.cross {
	position: absolute;
	height: 100%;
	width: 100%;	
	background-color: transparent;
}
.keysContainer, .crossContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
}
.key {
	position: absolute;
}
.key_x1 {
    left: -20%;
    top: 50%;
}
.key_x2 {
    top: 50%;
	right: -20%;
}
.key_y1 {
	top: -20%;
	left: 50%;
}
.key_y2 {
	bottom: -20%;
	left: 50%;
}
.hide {
	display: none;
}
.value_x, .value_y {
	display: none;
}